.App{
 background: #000000; 
    background: -webkit-linear-gradient(to right, #e74c3c, #000000); 
    background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }